attrs==25.1.0
bcrypt==4.2.1
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
dnspython==2.7.0
Faker==33.3.1
grpcio==1.68.1
grpcio-tools==1.68.1
idna==3.10
jsonpath-ng==1.7.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
natsort==8.4.0
overrides==7.7.0
ply==3.11
protobuf==5.29.2
pymongo==4.10.1
python-dateutil==2.9.0.post0
referencing==0.36.2
requests==2.32.3
robotframework==7.2
robotframework-assertion-engine==3.0.3
robotframework-browser==19.1.2
robotframework-faker==5.0.0
robotframework-jsonlibrary==0.5
robotframework-pythonlibcore==4.4.1
robotframework-requests==0.9.7
rpds-py==0.22.3
seedir==0.5.0
setuptools==75.8.0
six==1.17.0
typing_extensions==4.12.2
urllib3==2.3.0
wrapt==1.17.2
